[submodule "libs/backbone"]
	path = libs/backbone
	url = https://github.com/documentcloud/backbone.git
[submodule "libs/underscore"]
	path = libs/underscore
	url = https://github.com/documentcloud/underscore.git
[submodule "libs/doT"]
	path = libs/doT
	url = https://github.com/olado/doT.git
